{% include header.ext %}
<div class="container">

    <div class="row" id="header">
        <div class="twelve columns">
        </div>
    </div>

    <div class="row">
        <div class="eight columns">

        {% assign post = page %}
         
        <div class="row blogentry">
            <div class="eleven columns textblock">
                <h3>{{post.title}}</h3>
                {{content}}
            </div>
            {% include sharefoot.ext %}
        </div>

         {% include related.ext %}

        </div>
        {% include navigation.ext %}
    </div>

    {% include headbar.ext %}
    {% include modalshare.ext %}
</div>
{% include footer.ext %}
